# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# This file is used by GCB to build base images everytime a commit is
# made to the master branch.

images:
- gcr.io/fuzzbench/base-image:test-experiment
- gcr.io/fuzzbench/base-image
steps:
- args:
  - pull
  - ubuntu:xenial
  env:
    - DOCKER_BUILDKIT=1
  id: pull-ubuntu-xenial
  name: docker:19.03.12
- args:
  - build
  - --tag
  - gcr.io/fuzzbench/base-image
  - --tag
  - gcr.io/fuzzbench/base-image:test-experiment
  - --cache-from
  - gcr.io/fuzzbench/base-image
  - --build-arg
  - BUILDKIT_INLINE_CACHE=1
  - --file
  - docker/base-image/Dockerfile
  - .
  env:
    - DOCKER_BUILDKIT=1
  id: base-image
  name: docker:19.03.12
timeout: '1800s'
