# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The order of execution is as follows:
# 1. Pull base-image, base-builder, base-runner, measure-worker.
# 2. After pulling base-image completes: Build base-image.
# 3. After pulling base-builder and building base-image completes: Build base-builder.
# 3. After pulling base-runner and building base-image completes: Build base-runner.
# 3. After pulling measure-worker and building base-runner completes: Build measure-worker.
# This is optimized to take advantage of concurrency and caching as much as
# possible. When nothing changes, this does build takes two minutes to complete
# instead of ten.
# See https://cloud.google.com/cloud-build/docs/speeding-up-builds for a discussion
# on using caching.
# See https://cloud.google.com/cloud-build/docs/configuring-builds/configure-build-step-order
# for a discussion on paralellism/concurrency for build steps in GCB.

steps:

# Pull base-image to fill cache.
- name: 'gcr.io/cloud-builders/docker'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker pull ${_REPO}/base-image || exit 0

- name: 'gcr.io/cloud-builders/docker'
  args: [
    'build',

    # Use two tags so that the image builds properly and we can push it to the
    # correct location.
    '--tag',
    'gcr.io/fuzzbench/base-image',

    '--tag',
    '${_REPO}/base-image',

    '--cache-from',
    '${_REPO}/base-image',

    'docker/base-image'
  ]
  id: 'base-image'

# Pull base-builder to fill cache.
- name: 'gcr.io/cloud-builders/docker'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker pull ${_REPO}/base-builder || exit 0
  id: 'base-builder-pull'
  wait_for: ['-']  # Start this immediately.

- name: 'gcr.io/cloud-builders/docker'
  args: [
    'build',

    '--tag',
    'gcr.io/fuzzbench/base-builder',

    '--tag',
    '${_REPO}/base-builder',

    '--cache-from',
    '${_REPO}/base-builder',

    'docker/base-builder'
  ]
  wait_for: ['base-image', 'base-builder-pull']

# Pull base-runner to fill cache.
- name: 'gcr.io/cloud-builders/docker'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker pull ${_REPO}/base-runner || exit 0
  id: 'base-runner-pull'
  wait_for: ['-']  # Start this immediately.

- name: 'gcr.io/cloud-builders/docker'
  args: [
    'build',

    '--tag',
    'gcr.io/fuzzbench/base-runner',

    '--tag',
    '${_REPO}/base-runner',

    '--cache-from',
    '${_REPO}/base-runner',

    'docker/base-runner'
  ]
  # Wait for pull and building base-image to finish.
  wait_for: ['base-image', 'base-runner-pull']
  id: 'base-runner'


# Pull base-runner to fill cache.
- name: 'gcr.io/cloud-builders/docker'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker pull ${_REPO}/measure-worker || exit 0
  id: 'measure-worker-pull'
  wait_for: ['-']  # Start this immediately.

- name: 'gcr.io/cloud-builders/docker'
  args: [
    'build',

    '--tag',
    'gcr.io/fuzzbench/measure-worker',

    '--tag',
    '${_REPO}/measure-worker',

    '--cache-from',
    '${_REPO}/measure-worker',

    '--file',
    'docker/measure-worker/Dockerfile',

    '.'
  ]
  # Wait for pull and building base-image to finish.
  wait_for: ['base-runner', 'measure-worker-pull']


images:
  - '${_REPO}/base-image'
  - '${_REPO}/base-builder'
  - '${_REPO}/base-runner'
  - '${_REPO}/measure-worker'
