# Defines the different types of docker images that FuzzBench uses and their
# dependency graph.

'base-image':
  tag: 'base-image'
  context: 'docker/base-image'

'base-runner':
  tag: 'base-runner'
  context: 'docker/base-runner'
  depends_on:
    - 'base-image'

'coverage-builder':
  tag: 'builders/coverage'
  context: 'fuzzers/coverage'
  dockerfile: 'fuzzers/coverage/builder.Dockerfile'
  depends_on:
    - 'base-image'

'coverage-{benchmark}-builder':
  tag: 'builders/coverage/{benchmark}'
  context: '.'
  dockerfile: 'docker/benchmark-builder/Dockerfile'
  build_arg:
    - 'fuzzer=coverage'
    - 'benchmark={benchmark}'
  depends_on:
    - 'coverage-builder'

'{fuzzer}-builder':
  tag: 'builders/{fuzzer}'
  context: 'fuzzers/{fuzzer}'
  dockerfile: 'fuzzers/{fuzzer}/builder.Dockerfile'
  depends_on:
    - 'base-image'

'{fuzzer}-{benchmark}-builder':
  tag: 'builders/{fuzzer}/{benchmark}'
  context: '.'
  dockerfile: 'docker/benchmark-builder/Dockerfile'
  build_arg:
    - 'fuzzer={fuzzer}'
    - 'benchmark={benchmark}'
  depends_on:
    - '{fuzzer}-builder'

'{fuzzer}-{benchmark}-intermediate-runner':
  tag: 'runners/{fuzzer}/{benchmark}-intermediate'
  context: 'fuzzers/{fuzzer}'
  dockerfile: 'fuzzers/{fuzzer}/runner.Dockerfile'
  depends_on:
    - 'base-runner'

'{fuzzer}-{benchmark}-runner':
  tag: 'runners/{fuzzer}/{benchmark}'
  context: '.'
  dockerfile: 'docker/benchmark-runner/Dockerfile'
  build_arg:
    - 'fuzzer={fuzzer}'
    - 'benchmark={benchmark}'
  depends_on:
    - '{fuzzer}-{benchmark}-builder'
    - '{fuzzer}-{benchmark}-intermediate-runner'
