name: CI

on: [pull_request]

jobs:
  presubmit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.7
    - name: Build benchmarks
      run: |
        make install-dependencies
        source .venv/bin/activate
        make presubmit

  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflfast
          - aflplusplus
          - eclipser
          - entropic
          - fairfuzz
          - honggfuzz
          - libfuzzer
          - mopt
          - qsym

    env:
      FUZZER_NAME: ${{ matrix.fuzzer }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.7
    - name: Build benchmarks
      run: |
        make install-dependencies
        source .venv/bin/activate
        make build-$FUZZER_NAME-all
