name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      - 'src_analysis/**' # Changes that affect what gets built.

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflcc
          - aflfast
          - aflplusplus
          - aflplusplus_optimal
          - aflsmart
          - entropic
          - fairfuzz
          - fastcgs_lm
          - honggfuzz
          - lafintel
          - klee
          - libfuzzer
          - libaflfuzzer
          - manul
          - mopt
          # Binary-only (greybox) fuzzers.
          - eclipser
          - afl_qemu
          - aflplusplus_qemu
          - honggfuzz_qemu
          - weizz_qemu
          # Temporary variants.
          - libfuzzer_magicbytes
          - entropic_magicbytes
          - aflplusplus_lightweizz
          - aflplusplus_explore
          - aflplusplus_268c
          - aflplusplus_fixed
          - aflplusplus_memcache_2mb
          - aflplusplus_memcache_2mb_old
          - aflplusplus_memcache_2mb_new
          - aflplusplus_memcache_20mb
          - aflplusplus_memcache_200mb
          - aflplusplus_memcache_200mb_old
          - afl_fast
          - afl_fast_v2
          - afl_fast_v2_late
          - afl_fast_v2_nohandicap
          - afl_fast_v2_spliceless
          - afl_fast_late_32
          - afl_fast_branches_v2
          - afl_fast_bancches_v2_late
          - afl_nohandicap_spliceless2
          - aflplusplus_cmplog
          - aflplusplus_dict2file
        benchmark_type:
          - oss-fuzz
          - standard

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --unshallow
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    # Copied from:
    # https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu.
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements
        # file.
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py ${{ matrix.benchmark_type }} ${{ matrix.fuzzer }}
