name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      # Changes that affect what gets built.
      - 'src_analysis/**'
      - '.github/worfkflows/fuzzers.yml'
      - '.github/worfkflows/build_and_test_run_fuzzer_benchmarks.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          # Core fuzzers.
          - afl
          - aflfast
          - aflplusplus
          - aflsmart
          - centipede
          - eclipser
          - fairfuzz
          - honggfuzz
          - libafl
          - libfuzzer
          - mopt
          # Greybox fuzzers.
          - wingfuzz
          # Temporary variants.
          - aflplusplus_cmplog
          - aflplusplus_cmplog_r
          - aflplusplus_um_prioritize
          - aflplusplus_um_prioritize_75
          - aflplusplus_um_random
          - aflplusplus_um_random_3
          - aflplusplus_um_random_6
          - aflplusplus_um_random_75
        fuzzer_to_ignore:
          # Symbolic ececution.
          - klee               # To Be Fixed.
          # Concolic execution.
          - symcc_aflplusplus  # To Be Fixed.
          # Grammar fuzzers.
          - nautilus           # To Be Fixed.

        benchmark_type:
          - oss-fuzz
          - standard
          # - bug

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --unshallow
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.8

    # Copied from:
    # https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu.
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements
        # file.
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py ${{ matrix.benchmark_type }} ${{ matrix.fuzzer }}
