name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      # Changes that affect what gets built.
      - 'src_analysis/**'
      - '.github/worfkflows/fuzzers.yml'
      - '.github/worfkflows/build_and_test_run_fuzzer_benchmarks.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflfast
          - afl_um_prioritize
          - afl_um_random
          - afl_um_parallel
          - aflplusplus
          - aflplusplus_optimal
          - aflplusplus_tracepc
          - aflplusplus_um_prioritize
          - aflplusplus_um_prioritize_75
          - aflplusplus_um_random
          - aflplusplus_um_random_75
          - aflplusplus_um_random_3
          - aflplusplus_um_random_6
          - aflplusplus_um_parallel
          - aflsmart
          - centipede
          - entropic
          - fairfuzz
          - honggfuzz
          - honggfuzz_um_random
          - honggfuzz_um_random_75
          - honggfuzz_um_prioritize
          - honggfuzz_um_prioritize_75
          - honggfuzz_um_parallel
          - lafintel
          - klee
          - libfuzzer
          - libfuzzer_um_random
          - libfuzzer_um_prioritize
          - libfuzzer_um_parallel
          - libfuzzer_dataflow
          - libfuzzer_dataflow_load
          - libfuzzer_dataflow_store
          - libfuzzer_dataflow_pre
          - mopt
          - neuzz
          - libafl
          - pythia_effect_bb
          - pythia_bb
          - fafuzz
          - tortoisefuzz
          - wingfuzz
          # Binary-only (greybox) fuzzers.
          - eclipser
          - eclipser_um_prioritize
          - eclipser_um_random
          - eclipser_um_parallel
          - afl_qemu
          - honggfuzz_qemu
          - weizz_qemu
          - aflplusplus_qemu
          - aflplusplus_frida
          # Concolic execution
          - fuzzolic_aflplusplus_z3
          - fuzzolic_aflplusplus_fuzzy
          - eclipser_aflplusplus
          - symqemu_aflplusplus
          - symcc_aflplusplus
          - symcc_aflplusplus_single
          - symcc_afl
          - symcc_afl_single
          # Grammar fuzzers
          - nautilus
          - gramatron
          - token_level
          - grimoire
          # Temporary variants.
          - aflplusplus_dict2file
          - afl_2_52_b
          - aflplusplus_cmplog
          - afl_random_favored
          - entropic_execute_final
          - libfuzzer_exeute_final
          - afl_no_favored
          - afl_collision_free
          - afl_double_timeout
          - afl_no_favfactor
          - afl_no_trim
          - afl_scheduling_lifo
          - afl_scheduling_random
          - afl_score_max
          - afl_score_min
          - afl_score_no_novel_prioritization
          - afl_score_random
          - afl_splicing_mutation
          - afl_virginmap
          - afl_maxmap
          - introspector_driven_focus
          - libfuzzer_focus_idx0
          - centipede_function_filter

        benchmark_type:
          - oss-fuzz
          - standard
          - bug

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --unshallow
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    # Copied from:
    # https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu.
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements
        # file.
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py ${{ matrix.benchmark_type }} ${{ matrix.fuzzer }}
