name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      - 'src_analysis/**' # Changes that affect what gets built.

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflfast
          - aflplusplus
          - aflplusplus_optimal
          - aflsmart
          - eclipser
          - entropic
          - fairfuzz
          - fastcgs_lm
          - honggfuzz
          - lafintel
          - libfuzzer
          - mopt

        benchmark_type:
          - oss-fuzz
          - standard

    env:
      FUZZER: ${{ matrix.fuzzer }}
      BENCHMARK_TYPE: ${{ matrix.benchmark_type }}

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --depth 1
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py $BENCHMARK_TYPE $FUZZER
