name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      # Changes that affect what gets built.
      - 'src_analysis/**'
      - '.github/worfkflows/fuzzers.yml'
      - '.github/worfkflows/build_and_test_run_fuzzer_benchmarks.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflcc
          - aflfast
          - aflplusplus
          - aflplusplus_optimal
          - aflplusplus_eclipser
          - aflsmart
          - entropic
          - fairfuzz
          - honggfuzz
          - lafintel
          - klee
          - libfuzzer
          - mopt
          - neuzz
          # Binary-only (greybox) fuzzers.
          - eclipser
          - afl_qemu
          - aflplusplus_qemu
          - honggfuzz_qemu
          - weizz_qemu
          # Temporary variants.
          - aflplusplus_introspection
          - aflplusplus_introspection2
          - aflplusplus_dict2file
          - aflplusplus_cmplog
          - aflplusplus_flcnt
          - aflplusplus_optimal_flcnt
          - aflplusplus_fcnt
          - aflplusplus_optimal_fcnt
          - aflplusplus_lcnt
          - aflplusplus_optimal_lcnt
          - aflplusplus_havoc
          - aflplusplus_300
          - aflplusplus_310
          - aflplusplus_311

        benchmark_type:
          - oss-fuzz
          - standard
          - bug

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --unshallow
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    # Copied from:
    # https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu.
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements
        # file.
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py ${{ matrix.benchmark_type }} ${{ matrix.fuzzer }}
