name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base image changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.
      # Changes that affect what gets built.
      - 'src_analysis/**'
      - '.github/worfkflows/fuzzers.yml'
      - '.github/worfkflows/build_and_test_run_fuzzer_benchmarks.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          #- aflcc
          #- aflfast
          #- aflplusplus
          #- aflplusplus_optimal
          #- aflsmart
          #- entropic
          #- fairfuzz
          #- honggfuzz
          #- lafintel
          #- klee
          #- libfuzzer
          #- mopt
          #- neuzz
          #- libafl
          - afldd
          - aflpp_vs_dd
          # Binary-only (greybox) fuzzers.
          #- eclipser
          #- afl_qemu
          #- honggfuzz_qemu
          #- weizz_qemu
          #- aflplusplus_qemu
          #- aflplusplus_frida
          # Concolic execution
          #- fuzzolic_aflplusplus_z3
          #- fuzzolic_aflplusplus_fuzzy
          #- eclipser_aflplusplus
          #- symqemu_aflplusplus
          #- symcc_aflplusplus
          #- symcc_aflplusplus_single
          #- symcc_afl
          #- symcc_afl_single
          # Temporary variants.
          #- aflplusplus_introspection
          #- aflplusplus_introspection2
          #- aflplusplus_dict2file
          #- aflplusplus_cmplog
          #- aflplusplus_flcnt
          #- aflplusplus_fcnt
          #- aflplusplus_lcnt
          #- aflplusplus_311
          #- aflplusplus_313
          #- aflplusplus_cmplog_fullskip
          #- aflplusplus_cmplog_2dict
          #- aflplusplus_cmplog_2dictl
          #- aflplusplus_dict2file2
          #- aflplusplus_unusual_enabled
          #- aflplusplus_unusual_disabled
          #- aflprefix
          #- dropfuzzer
          #- afl_two_instances
          #- afl_no_favored
          #- afl_random_favored
          #- aflplusplus_classic_ctx
          #- aflplusplus_classic_ctx_18
          #- aflplusplus_classic_ctx_20
          #- aflplusplus_classic_ctx_21
          #- aflplusplus_classic_ctx_23
          #- cfctx_basic
          #- cfctx_bottom
          #- cfctx_dataflow_seadsa
          #- cfctx_dataflow_svf
          #- cfctx_randomic
          #- cfctx_params
          #- cfctx_plain
          #- cfctx_bottom_llc
          #- cfctx_dataflow_seadsa_llc
          #- cfctx_dataflow_svf_llc
          #- cfctx_randomic_llc
          #- cfctx_params_llc
          #- cfctx_params_1mb
          #- cfctx_params_2mb
          #- cfctx_params_4mb
          #- cfctx_params_512kb
          #- cfctx_params_768kb
          #- cfctx_full
          #- aflplusplus_pcguard

        benchmark_type:
          - oss-fuzz
          - standard
          - bug

    steps:
    - uses: actions/checkout@v2
    - run: |  # Needed for git diff to work.
        git fetch origin master --unshallow
        git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master

    - name: Clear unnecessary files
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker images -a -q)
        df -h

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    # Copied from:
    # https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu.
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements
        # file.
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        make install-dependencies

    - name: Build Benchmarks
      run: |
        PATH=.venv/bin/:$PATH PYTHONPATH=. python3 .github/workflows/build_and_test_run_fuzzer_benchmarks.py ${{ matrix.benchmark_type }} ${{ matrix.fuzzer }}
