name: Build fuzzers
on:
  pull_request:
    paths:
      - 'docker/**'  # Base images changes.
      - 'fuzzers/**' # Changes to fuzzers themselves.
      - 'benchmarks/**'  # Changes to benchmarks.

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fuzzer:
          - afl
          - aflfast
          - aflplusplus
          - aflsmart
          - eclipser
          - entropic
          - fairfuzz
          - fastcgs
          - honggfuzz
          - libfuzzer
          - mopt
          - qsym

        benchmark_type:
          - oss-fuzz
          - standard

    env:
      FUZZER_NAME: ${{ matrix.fuzzer }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.7
    - name: Build Benchmarks
      if: ${{ matrix.benchmark_type == 'standard' }}
      run: |
        python .github/workflows/build.py standard $FUZZER_NAME
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.7
    - name: Build OSS-Fuzz Benchmarks
      if: ${{ matrix.benchmark_type == 'oss-fuzz' }}
      run: |
        python .github/workflows/build.py oss-fuzz $FUZZER_NAME
